@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* This is a single-line comment */

h2 {
    border-style: dashed;
    border-color:blueviolet;
    border-width: 5px;
    border-radius: 5pc;
}
p.intro {
    font-size: 30pt;
    background-color: yellow;
    color: rgb(123, 252, 3);
    
}

#first {
    background-color:#6d9aa6;
    text-decoration: wavy;
    text-align: left;
    font-family: 'Lato', sans-serif;
}

a.highlight:hover {
    color: #ff0000;
  } 

  div {
    background-color: lightgrey;
    width: 1ex;
    border: 1vw solid green;
    padding: 1em;
    margin: 20px;
  }